$white: #e3e7ee;
$gray-light: #dbdfe7;
$gray: #d1daec;
$gray-2: #cdd3dd;
$gray-dark: #8992a3;
$gray-dark-2: #777777;
$black: rgb(66, 67, 70);
$blue-light: #283b57;
$blue: #113b8a;
$blue-dark: #05386b;
$navy: #212264;
$navy-dark: #14213d;
$teal: #0f996d;
$green-light: #cde7b0;
$green-light-2: #89c544;
$green: #42cf7a;
$green-dark: #277948;
$cyan: #42bcc5;
$pink: #e65be3;
$red: #d42a33;
$purple: #3f11c7;
$orange: #d4562c;
$violet: #7f57fa;
$yellow-light: #fad08c;
$yellow: #ffb33a;
$color-1: #ffff91;
$color-2: #78d6d3;
$color-3: #1f01b9;
$color-4: #fac748;
